html
	head
		title Scoreboard
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Syncopate|Source+Code+Pro|Exo+2|Droid+Sans' rel='stylesheet")
		link(rel="stylesheet" href="css/board.css")
	body
		#ads
			img.ad#adpic(src="img/liedonasbesti.png" alt="")
		#scores
			.teamlabel#hometeamlabel
				.left-center-wrapper
			.scorelabel#homescorenumber
				.center-wrapper
			.midlabel
				.center-wrapper
					p.
						null
			.scorelabel#awayscorenumber
				.center-wrapper
			.teamlabel#awayteamlabel
				.right-center-wrapper
		.midlabelfloat#midlabel
			.center-wrapper
		script(src="socket.io/socket.io.js")
		script(src="//code.jquery.com/jquery-1.11.0.min.js")
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
		script(src="js/board.js")
