html, body {
	background-color: #0f0;
	height: 100%;
	width: 100%;
	line-height: normal;
}

@font-face {
	font-family: 'digi';
	src: url('/fonts/digital-7.tff');
}

#tournament {
	margin-top: 1em;
}

#bottom {
	height: 25%;
}

#scores {
	font-family: "Arial";
	font-weight: bold;
	font-size: 2.75vh;
	display: table;
	table-layout: fixed;
	position: absolute;
	left: 20%;
	top: 90%;
	width: 60%;
	height: 7%;
	background-color: yellow;
	border-bottom: 1.25vh solid black;
}

.ad {
	position: absolute;
	left: 30%;
	top: 1%;
	width: 40%;
}

.left-center-wrapper {
	display: flex;
  	justify-content: left;
	padding-left: 2vh;
  	align-items: center;
	height: 100%;
}

.right-center-wrapper {
  	text-align: right;
	padding-right: 2vh;
  	align-items: center;
	height: 100%;
}

.center-wrapper {
	display: flex;
  	justify-content: center;
  	align-items: center;
	height: 100%;
}

.teamlabel {
	box-sizing: content-box;
	display: table-cell;
	color: ghostwhite;
	width: 37%;
	height: 100%;
	padding-top: 0.3%;
}

.scorelabel {
	box-sizing: content-box;
	display: table-cell;
	color: ghostwhite;
	width: 8%;
	height: 100%;
}

.midlabel {
	box-sizing: content-box;
	display: table-cell;
	color: gray;
	background-color: black;
	width: 10%;
	height: 100%;
}

.midlabelfloat {
	position: absolute;
	color: gray;
	background-color: black;
	width: 6.1%;
	height: 9%;
	left: 47%;
	top: 89%;
	font-family: "Arial Black";
	font-weight: normal;
	font-size: 3vh;
	padding-bottom: 0.3%;
}

p {
	margin: 0;
}

.timelabel {
	background-color: black;
	box-sizing: content-box;
	display: table-cell;
	color: yellow;
	width: 15%;
	height: 100%;
}

#hometeamlabel {
	background-color: #A95;
}

#homescorenumber {
	background-color: #A95;
	filter: brightness(90%);
}

#awayteamlabel {
	background-color: #444;
}

#awayscorenumber {
	background-color: #444;
	filter: brightness(90%);
}

.vertical-center {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}
